<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>世界杯免费猜，超大奖池等你来瓜分！</title>
		<link rel="shortcut icon" type="image/x-icon" href="img/title_01.png" />
		<link rel="stylesheet" type="text/css" href="/css/download.css"/>
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="/js/fit.js"></script>
	</head>
	<style>
		@media screen and (min-width: 415px) {
			body,html {
				background: #fff;
			}
			.box {
				width: 450px;
				margin: 0 auto;
			}
			.btn {
				display: none;
			}
			.box .erweima {
				display: block;
			}
			.box .text {
				display: none;
			}
			.box .text_pc {
				display: block;
			}
		}
	</style>
	<body>
		<div class="box">
			<div class="logo">
				<img src="http://winchainos.ufile.ucloud.com.cn/public/fokex/logo_03.png" alt="" />
			</div>
			<div class="title">
				<img src="http://winchainos.ufile.ucloud.com.cn/public/fokex/title_03.png" alt="" />
			</div>
			<div class="cell">
				<img src="http://winchainos.ufile.ucloud.com.cn/public/fokex/cell_03.png" alt="" />
			</div>
			<input class="ipt" type="text" value="http://www.winchainos.com/d" />
			<div class="btn">点击复制下载链接</div>
			<div class="erweima">
				<img src="http://winchainos.ufile.ucloud.com.cn/public/fokex/erweima_down.png" alt="" />
			</div>
			<div class="text">
				下载方法：<br/>
				复制下载链接，打开浏览器粘贴下载<br/>
				如果您已经竞猜，请直接打开短信点击下载
			</div>
			<div class="text_pc">
				扫码下载“星际矿工”官方APP，参与火热世界杯竞猜活动，更多大奖等你来玩！
			</div>
		</div>
	</body>
	<script src="/js/download.js"></script>
</html>
