<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>世界杯免费猜，超大奖池等你来瓜分！</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/title_01.png" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/fit.js"></script>
</head>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1274001047'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274001047' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1274010664'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274010664' type='text/javascript'%3E%3C/script%3E"));
</script>

<body>
    <div class="box">
        <div class="logo">
            <img src="/img/Artboard 9.png" alt="" />
            <div id=""></div>
            <img src="/img/Artboard 9 Copy.png" alt="" />
        </div>
        <div class="title">
            <img src="/img/Artboard 3.png" alt="" />
            <img src="/img/Artboard 4.png" alt="" class="on" />
            <img src="/img/Artboard 7.png" alt="">
            <img src="/img/Artboard 5.png" alt="">
            <img src="/img/Artboard 7.png" alt="">
            <img src="/img/Artboard 5.png" alt="">
            <img src="/img/Artboard 7.png" alt="">
            <img src="/img/Artboard 5.png" alt="">
        </div>
        <div class="wrap">
            <div class="record">我的竞猜记录&nbsp;&nbsp;></div>
            <p>竞猜截止倒计时</p>
            <div class="count">
                --:--:--:--
            </div>
            <div class="data">
                <span>比赛时间</span>
                <div class="time">
                -月-日 
                </div>
                <div class="coming">
                    --:--
                </div>
            </div>
            <div id="vs">
                <p>预测获胜方</p>
                <div class="content">
                    <div class="team_left team">
                        <img src="http://winchainos.ufile.ucloud.com.cn/public/fw/world-cop.png" alt="" />
                        <p id="team_l">--</p>
                    </div>
                    <div class="vs">VS</div>
                    <div class="team_right team">
                        <img src="http://winchainos.ufile.ucloud.com.cn/public/fw/world-cop.png" alt="" />
                        <p id="team_r">--</p>
                    </div>
                </div>
                <div class="stake">
                    <div class="stake_l stake_con stake_btn stk" id="stake_l">
                        <div class="sheng" data-value="1">支持</div>
                        <div class="Master_sheng">
                            <div class="con">--</div>
                            <span>支持</span>
                        </div> 
                    </div>
                    <div class="stake_r stake_con stake_btn stk" id="stake_r">
                        <div class="sheng" data-value="2">支持</div>
                        <div class="Katsuya_sheng">
                            <div class="con">--</div>
                            <span>支持</span>
                        </div> 
                    </div>
                </div>
            </div>
            <a class="down" href="/download" id="down">
                <div class="down_con">
                    <p>更多精彩玩法</p>
                    <p>下载官方APP</p>
                </div>
            </a>
            <div class="next">
                <div class="next_title">
                    <span> 即将开启</span>
                    <p class="next_c_t">-月-日</p>
                    <p class="next_c_b">--:--</p>
                </div>
                <div class="guojia">
                    <div class="next_l next_con">
                        <p>--</p>
                        <img src="http://winchainos.ufile.ucloud.com.cn/public/fw/world-cop.png" alt="" />
                    </div>
                    <span>vs</span>
                    <div class="next_r next_con">
                        <img src="http://winchainos.ufile.ucloud.com.cn/public/fw/world-cop.png" alt="" />
                        <p>--</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text">
            <h3>活动规则</h3>
            <p>1.每场比赛每人仅可免费参与竞猜一次；</p>
            <p>2.活动奖励可以在OKEX账户领取，快快注册；</p>
            <p>3.更多精彩世界杯玩法尽在《星际矿工》中，点击上方“下载按钮”下载；</p>
            <p>4.请使用竞猜时的手机号登录OKEX领取奖励及查看竞猜结果，单次竞猜奖励将在7个工作日内发放至OKEX账户；</p>
            <p>5.本活动最终解释权归Winchain&OKEX所有。</p>
            <div class="foot">
                <p><span>WINCHAIN</span>国家区块链彩票系统</p>
                <p>www.winchainos.com</p>
            </div>
        </div>
    </div>
	<!--没有登录点击支持弹框-->
	<div class="dialog">
		<h1>您将选择</h1>
		<p><span class="ranks">--</span>胜</p>
		<div class="inp">
			<p>
				<input type="text" class="cell" placeholder="请输入手机号" />
			</p>
			<i class="cell_val"></i>
			<p class="cell2">
				<input type="text" class="ipt" placeholder="请输入验证码" />
				<button class="cell_btn cell_btns">获取验证码</button>
			</p>
			<i class="ipt_val"></i>
		</div>
		<div class="btn">
			<span class="cancel">再想想</span>
			<span class="confirm">确 定</span>
		</div>
		<p class="queding">*点击确定后结果将不可更改</p>
	</div>
    <!-- 没有登录点击我的精彩记录弹框——登录框 -->
    <div class="code">
        <p class="tit">登录</p>
        <div class="inp">
            <p>
                <input type="text" class="cells" placeholder="请输入手机号" />
            </p>
            <i class="cells_val"></i>
            <p class="cell2">
                <input type="text" class="ipts" placeholder="请输入验证码" />
                <button class="cells_btn cell_btns">获取验证码</button>
            </p>
            <i class="ipts_val"></i>
        </div>
		<div class="btn">
			<span class="cancels">取 消</span>
			<span class="confirms">确 定</span>
		</div>
    </div>
    <!--竞猜记录登录入口，点击投注的确认框-->
    <!--<div class="queren">
    	<h1>您将选择</h1>
		<p>
			<span class="ranks">中国</span>胜
		</p>
		<div class="btn">
			<span class="cancel">再想想</span>
			<span class="confirm">确 定</span>
		</div>
		<p class="queding">*点击确定后结果将不可更改</p>
    </div>-->
    <!-- 参与过竞猜 || 竞猜成功-->
    <div class="Competition">
        <p class="on">您已参与过竞猜</p>
        <span>确定</span>
        <p class="bot">
	                        下载星际矿工APP</br>
	                        参与更多精彩玩法
        </p>
    </div>





        <!-- <div class="dialog">
			<h1>您将选择</h1>
			<div class="flag">
				<img src="/img/world-cop.png" alt="">
				<span>胜</span>
			</div>
			<div class="btn">
				<span class="cancel">取 消</span>
				<span class="confirm">确 定</span>
			</div>
			<p>*点击确定后结果将不可更改</p>
		</div> -->
		<!--登录弹窗-->
		<!-- <div class="code">
			<div class="code_con">
				<div class="cell_con">
					<input class="cell" type="text" placeholder="请输入手机号" />
					<button class="cell_btn cell_btns">获取验证码</button>
					<i class="cell_val"></i>
				</div>
				<div class="ipt_con">
					<input class="ipt" type="text" placeholder="请输入验证码" />
					<i class="ipt_val"></i>
				</div>
				<div class="enter enters">确 定</div>
			</div>
		</div> -->
		<!--竞猜记录-->
		<div class="record-box">
			<div class="record-title">竞猜记录</div>
			<div class="anonymous">暂无投注记录</div>
			<div class="record_content">
				
				<!--<div class="record_con">
					<div class="date"></div>
					<div class="team_con"></div>
					<div class="select">我的选择：<span></span></div>
					<div class="result"></div>
				</div>-->
			</div>
			<div class="close">
				<img src="/img/qvxiao.png" alt="" />
			</div>
		</div>
	</div>
	<!--遮罩层-->
	<div class="div1"></div>
	<div class="div2"></div>
	<div class="div3">
		<div class="dlog">
			<img src="http://winchainos.ufile.ucloud.com.cn/public/fw/Art22board 4.png" alt="" id="btn1">
		</div>
	</div>
	<div class="div4">
		<input type="text" class="input" id="ipt" placeholder="window.location.href">
		<div class="dlog">
			<img src="http://winchainos.ufile.ucloud.com.cn/public/fw/Artboar222d 4 Copy.png" alt="" id="btn">
        </div>
	</div>   
</body>
<script type="text/javascript" src="/js/indexs.js"></script>

</html>